/23 Fruit Shop/JavaApplication68/nbproject/private/
/23 Fruit Shop/JavaApplication69/nbproject/private/
/23 Fruit Shop/JavaApplication69/build/
/74/JavaApplication74/nbproject/private/
/74/JavaApplication74/build/
/56/JavaApplication78/nbproject/private/
/56/JavaApplication78/build/
/71 - CCRM system/JavaApplication79/nbproject/private/
/71 - CCRM system/JavaApplication79/build/
/72/JavaApplication82/nbproject/private/
/72/JavaApplication82/build/
/72/ChangeNumberSystem/nbproject/private/
/11 Change Number System/ChangeNumberSystem/nbproject/private/
/11 Change Number System/ChangeNumberSystem/build/
/56 Worker/JavaApplication78/dist/
/71 - CCRM system/JavaApplication79/dist/
/72/JavaApplication82/dist/
